%image {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

%sidebar__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

%sidebar-text {
    color: getColor('primary-white');
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

%skills-list {
    color: getColor('accent-orange');
    margin-left: 17px;
}