%image {
    display: block;
    width: 100%;
    height: auto;

    @media screen and (min-width: calc($mobile + 1px)) and (max-width: calc($tablet - 1px)) {
        width: 50%;
        height: 100%;
    }

    @media screen and (min-width: $tablet) {
        width: 370px;
    }
}

%sidebar__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

%sidebar-text {
    color: getColor('primary-white');
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

%skills-list {
    color: getColor('accent-orange');
    margin-left: 17px;
}

%title {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: getColor('secondary-text');

    @media screen and (min-width: $tablet) {
        font-size: 22px;
    }
}

%secondary-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25;
    color: getColor('secondary-text');

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }
}

%period {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: getColor('accent-text');
}