$colors: (
    'primary-white': #FFFFFF,
    'accent-orange': #FB6D3A,
    'main-animation': #2196F3,

    'main-text': #595959,
    'secondary-text': #212121,
    'accent-text': #A8A8A8,

    'secondary-background': #1E2939,
    'accent-background': #F5F7FA,
);

@function getColor($key) {
    @return map-get($map: $colors, $key: $key);
}

$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;