body {
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
    color: getColor('main-text');

    background: getColor('accent-background');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: $desktop;

    background-color: getColor('primary-white');
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.container {
    @media screen and (min-width: $tablet) {
        max-width: 600px;
    }
}