.company {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.company__title {
    @extend %secondary-title;
}

.company__organization {
    color: getColor('accent-orange');
}

.company__period {
    @extend %period;
    margin-bottom: 8px;
}

.company__line {
    color: getColor('secondary-text');
}

.company__list {
    margin-left: 20px;
}

.company__item {
    font-size: 14px;
    line-height: 1.2;

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    @media screen and (min-width: $tablet) {
        line-height: 1.71;
    }
}