.main-content {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 90px;
    padding-right: 50px;

    @media screen and (max-width: calc($tablet - 1px)) {
        padding: 25px;
    }
}